
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.imagen{
   
    width: 180px;
    height: 140px;
    padding: 10px;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("mantenimie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.login-content {
    width: 350px;
    padding: 40px;
    background: rgba(10, 101, 153, 0.316);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-box {
    margin-bottom: 20px;
    text-align: left;
    padding: 5px 20px;
}

.input-box h5 {
    margin-bottom: 10px;
    font-size: 14px;
    align-items: center;
    justify-content: center;

}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
}

.input-box input::placeholder {
    color: #fff; /* Color del placeholder */
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #0056b3; 
}




